
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="/WEB-INF/config/hibernate.cfg.xml" />
	</bean>

	<!-- max file size in bytes (set to max 20 MB) -->
	<bean
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		id="multipartResolver">
		<property value="20971520" name="maxUploadSize" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.group9.bankofaz.component" />
	<context:component-scan base-package="com.group9.bankofaz.controller" />
	<context:component-scan base-package="com.group9.bankofaz.model" />
	<context:component-scan base-package="com.group9.bankofaz.dao" />
	<context:component-scan base-package="com.group9.bankofaz.service" />


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bankofazdb" />
		<property name="username" value="dbuser" />
		<property name="password" value="tR$qCR8j" />
	</bean>

	<bean id="usersDao" class="com.group9.bankofaz.dao.UsersDAOImpl" />
	<bean id="externalUserDao" class="com.group9.bankofaz.dao.ExternalUserDAOImpl" />
	<bean id="internalUserDao" class="com.group9.bankofaz.dao.InternalUserDAOImpl" />
	<bean id="transactionDao" class="com.group9.bankofaz.dao.TransactionDAOImpl" />
	<bean id="taskDao" class="com.group9.bankofaz.dao.TaskDAOImpl" />
	<bean id="bankAccountDao" class="com.group9.bankofaz.dao.BankAccountDAOImpl" />
	<bean id="logsDao" class="com.group9.bankofaz.dao.LogsDAOImpl" />

	<bean id="loginService" class="com.group9.bankofaz.service.LoginServiceImpl" />
	<bean id="registerService" class="com.group9.bankofaz.service.RegistrationServiceImpl" />
	<bean id="transactionManagerService" class="com.group9.bankofaz.service.TransactionManagerImpl" scope="singleton"/>
	<bean id="regularEmployeeService" class="com.group9.bankofaz.service.RegularEmployeeImpl" scope="session"/>
	<bean id="systemManagerService" class="com.group9.bankofaz.service.SystemManagerImpl" scope="session"/>
	<bean id="systemAdministratorService" class="com.group9.bankofaz.service.SystemAdministratorImpl" scope="session"/>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="donotreplyboabank9@gmail.com" />
		<property name="password" value="group9SSproject" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.host">smtp.gmail.com</prop>
				<prop key="mail.smtp.port">587</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>

</beans>