<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http pattern="/" security="none" />
	<http pattern="/reg_validate" security="none" />
	<http pattern="/registration" security="none" />
	<http pattern="/registrationSuccessful" security="none" />
	<http pattern="/resetpwd" security="none" />
	<http pattern="/loginSucessful" security="none" />
	<http pattern="/boaprivatekey.key" security="none" />

	<http auto-config="true" use-expressions="true">
		<!-- <session-management>
			<concurrency-control error-if-maximum-exceeded="true"
				max-sessions="1" expired-url="/login?time=1" />
		</session-management> -->

		<access-denied-handler error-page="/403page" />

		<intercept-url pattern="/otp"
			access="hasAnyRole('ROLE_INDIVIDUAL', 'ROLE_MERCHANT', 'ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMIN')" />

		<intercept-url pattern="/otpverification"
			access="hasAnyRole('ROLE_INDIVIDUAL', 'ROLE_MERCHANT', 'ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMIN')" />

		<intercept-url pattern="/customer**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />

		<intercept-url pattern="/account**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
		
		<intercept-url pattern="/dopayment**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
				
		<intercept-url pattern="/customerPersonalInfo**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
		
		<intercept-url pattern="/edit**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
		
		<intercept-url pattern="/debit**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />

		<intercept-url pattern="/dodebit**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
		
		<intercept-url pattern="/credit**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
		
		<intercept-url pattern="/docredit**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />
			
		<intercept-url pattern="/payment**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />	

		<intercept-url pattern="/dotransfer**"
			access="hasAnyRole('ROLE_INDIVIDUAL','ROLE_MERCHANT') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee"
			access="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/transactionlookup**"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/transactionlookup/authorize"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/transactionlookup/cancel"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/transactionlookup/modify"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/internaluserlookup**"
			access="hasAnyRole( 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/internaluserlookup/save"
			access="hasAnyRole( 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/editinfo/"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/editinfo/save"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER', 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/transactioninquiry**"
			access="hasAnyRole( 'ROLE_EMPLOYEE', 'ROLE_MANAGER') and isFullyAuthenticated()" />
			
		<intercept-url pattern="/employee/pii**"
			access="hasAnyRole( 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<intercept-url pattern="/employee/logs"
			access="hasAnyRole( 'ROLE_ADMIN') and isFullyAuthenticated()" />

		<form-login login-page='/login' username-parameter="email"
			password-parameter="passwd" login-processing-url="/j_spring_security_check"
			default-target-url="/otp" authentication-failure-url="/login?authfailed" />
		<csrf />
		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/login?logout" invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="encoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
         SELECT USERNAME, PASSWD, CASE ENABLED WHEN 1 THEN 'true' ELSE 'false' END 'ENABLED'
         FROM users
         WHERE USERNAME=?;"

				authorities-by-username-query="
        SELECT USERNAME, AUTHORITY
        FROM users
        WHERE USERNAME=?;" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
</beans:beans>
