
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<context:component-scan base-package="com.group9.bankofaz.controller" />
	<context:component-scan base-package="com.group9.bankofaz.dao" />
	<context:component-scan base-package="com.group9.bankofaz.model" />
	<context:component-scan base-package="com.group9.bankofaz.service" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="/WEB-INF/config/hibernate.cfg.xml" />
	</bean>

	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bankofazdb" />
		<property name="username" value="dbuser" />
		<property name="password" value="tR$qCR8j" />
	</bean>
	
	<bean id="internalUserDao" class="com.group9.bankofaz.dao.InternalUserDAOImpl"/>
	<bean id="transactionDao" class="com.group9.bankofaz.dao.TransactionDAOImpl"/>
	<bean id="taskDao" class="com.group9.bankofaz.dao.TaskDAOImpl"/>
	<bean id="bankAccountDao" class="com.group9.bankofaz.dao.BankAccountDAOImpl"/>

</beans>